# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories (common for CMake)
[Bb]uild/
bin/
obj/

# IDE and Editor specific (Visual Studio, VS Code, CLion)
.vs/
.vscode/
.idea/
*.swp
*.user